html, body, #container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto';
}

/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
}

#help {
	display: block;
}

#help span {
	display: block;
}
*/